header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav a{
    background-color: #fafafa;
    width: 100%;
    padding: 1em;
    color: #555;
    text-decoration: none;
}

.menu:hover:not(#active){
    background-color: #ddd;
    color: #000;
}

#active{
    background-color: #333;
    color: #fafafa;
}

[type="checkbox"]{
    position: absolute;
    width: .1px;
    height: .1px;

    opacity: 0;

    border: none;
    background: none;
}

#mobile{ display: none }

/* mobile */
@media (max-width: 768px){
    #desktop{
        position: absolute;
        top: 53px;
        left: 0;
        width: 100%;

        transition: .5s ease;
        transform: translateY(-125%);

        box-shadow: 0 12px 16px rgba(0,0,0,.15);
    }
    #mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        padding: 8px 0;

        transition-duration: .5s;
        z-index: 2;
    }

    #mobile > a {
        display: block;
        width: auto;

        color: #FFF;

        border-radius: 24px;
        background-color: transparent;

        outline: none;
    }

    #mobile > a:hover {
        background-color: rgba(255,255,255, .25);
    }

    #mobile > a:active {
        background-color: rgba(255,255,255, .5);
        transform: scale(1.2);
    }

    #mobile > .home {
        width: 32px;
        height: 32px;

        background-image: url("../img/home.svg");
        background-position: center;
        background-size: 26px;
        background-repeat: no-repeat;

        transition-duration: .175s;
    }

    #mobile > .current {
        padding: 4px 16px;
        border-radius: 24px;
        background-color: rgba(255,255,255, .25);
    }

    #mobile > .toggle {
        transition-duration: .5s;
        transform: rotate(0);
    }

    [type="checkbox"]:checked ~ #desktop {
        transform: translateY(0);
    }

    [type="checkbox"]:checked ~ #mobile {
        background-color: #FFF;
    }

    [type="checkbox"]:checked ~ #mobile .toggle {
        transform: rotate(179deg);
    }

    [type="checkbox"]:checked ~ #mobile * {
        filter: invert(1);
    }
    
    header{
        display: flex;
    }
    label{ margin: 0 }
    label#mobilemenu{
        display: block;
        width: 32px;
        height: 32px;

        border-radius: 24px;
        
        background-image: url("../img/arrow.svg");
        background-position: center;
        background-size: 26px;
        background-repeat: no-repeat;

        transition-duration: .175s;
    }

    label#mobilemenu:active {
        background-color: rgba(255,255,255, .5);
        transform: scale(1.2);
    }
    nav{
        margin: 0;
        flex-direction: column;
    }
}