header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav a{
    background-color: #fafafa;
    width: 100%;
    padding: 1em;
    color: #555;
    text-decoration: none;
}

.menu:hover:not(#active){
    background-color: #ddd;
    color: #000;
}

#active{
    background-color: #333;
    color: #fafafa;
}

[type="checkbox"], #mobile{ display: none }

/* mobile */
@media only screen and (max-width: 768px){
    #mobile{ display: block }
    .menu{ display: none }
    header{
        display: flex;
    }
    label{ margin: 0 }
    label#mobilemenu{
        display: block;
        background-color: #fafafa;
        color: #333;
        width: 100%;
        text-align: center;
        padding: 1em;
    }
    nav{
        margin: 0;
        flex-direction: column;
    }
}